*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    font-family: 'Jost', sans-serif;
}

/************ NAV BAR *****************/
.navbar{
    background-color: rgb(0, 0, 0);
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;

}

.primary-icon {
    height: 30px;
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 30px 10px;

}

.button-list{
    border-style: none;
    padding: 16px 30px;
    background-color: #ff7425;
    border-radius: 5px;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
}

.navbar a {
    color:#fff;
    text-decoration: none;
}

.navbar a:hover{
    color:#ff7425;
}
.menu{
    display: none;
}

.menu-line {
    width:20px;
    height:3px;
    background-color: #fff;
    margin-bottom: 4px;
}

@media all and (max-width: 680px) {
    .navbar{
        flex-direction: column;
        position: relative;
       
    }
    .navbar .container-icon {
        width:100%;
    }
    .menu{
        display: block;
        position: absolute;
        right:15px;
        top:20px;
    }

    .nav-list {
        list-style-type: none;
        width:100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item{
        padding: 20px 10px;
        display: block;
        border-top: 1px solid #fff;
    }


    .primary-icon {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .active {
        display: block;
    }
    .button-list {
        display: none;
    }

}


/************* HERO SECTION ******************/
.container{
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:500px;
    color:#fff;
    padding-top: 200px;
    text-align: center;
}
.title{
    font-size: 70px;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.test-v1{
    border-right: 1px solid #fff;
    padding-right: 10px;
}
.home{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.about{
    padding-left: 10px;
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:618px) {
    .container{
        height:300px;
        color:#fff;
        padding-top: 100px;
      
    }
    .title{
        font-size: 35px;
    }
}

/********** CONTACT ************/
.container-contact{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
    gap:30px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.icon-contact{
    color: #fff;
    background-color:#ff7425;
    padding: 20px;
    border-radius: 35px;
    margin-bottom: 20px;
    font-size: 20px
}
.title-address{
    padding-bottom: 20px;
    color:#ff7425
}


/********* APPOINMENT SECTION ***********/

.container-appoinment{
    text-align:center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.subtitle-contact{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ff7425;
}

.title-quote{
    font-size: 50px;
    font-weight: 700;
    color: #232323;
    line-height: 58px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container-calendly{
    text-align: center;
}

.calendly{
    height: 900px;
    width: 100%;
    margin-bottom: 50px;
}


/********** FOOTER SECTION ************/
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:130px;
    background-color: #111;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#fff;
  }
  
  .items-footer{
    display: flex;
    flex-direction: column;
    gap:15px;
    color:#fff;
  }
  
  .items-footer > a{
    color:#fff;
    text-decoration: none;
  }
  
  .items-footer > a:hover{
    color:#ff7425;
  }
  
  .title-footer{
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .logo-footer{
    width:50%;
    margin-bottom: 15px;
  }
  
  .footer-copy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000;
    color:#fff;
  }
  
  @media (max-width:618px){
    .container-footer{
      gap:50px;
      flex-direction: column;
      padding-left: 30px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .footer-copy {
      justify-content: flex-start;
      padding-left: 30px;
    }
  }
  
  @media (max-width:618px){

    .container-contact{
       text-align: center;
    }

    .title-quote{
    font-size: 35px;
    }

  }